@tailwind base;
@tailwind components;
@tailwind utilities;

.tip:hover + .tooltip{
  opacity: 1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}